{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main">
        <div class="page-header text-center"
             style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody id="cartItems">
                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr>
                                            <td class="product-col">
                                                <div class="product">
                                                    <figure class="product-media">
                                                        <a href="#">
                                                            <img src="{{ product.image.url }}"
                                                                 class="product-cart-image"
                                                                 alt="Product image">
                                                        </a>
                                                    </figure>

                                                    <h3 class="product-title">
                                                        <a href="#">{{ product.title }}</a>
                                                    </h3><!-- End .product-title -->
                                                </div><!-- End .product -->
                                            </td>

                                            <td class="price-col">{{ product.price }}</td>

                                            <td class="price-col"> {{ item.qty }} </td>
                                            <td class="total-col">
                                                $<span id="total{{ product.id }}">{{ item.total_price }}</span>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                    {% empty %}
                                    <tr>
                                        <td class="product-col">
                                            <div class="product">
                                                <h3 class="product-title">
                                                    <a href="#">Your cart is empty</a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table><!-- End .table table-wishlist -->

                            <div class="cart-bottom">
                                <div class="cart-discount">
                                    <form action="#">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary-2" type="submit"><i
                                                        class="icon-long-arrow-right"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- End .input-group -->
                                    </form>
                                </div><!-- End .cart-discount -->


                            </div><!-- End .cart-bottom -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>
                                            $<span id="cartSubtotal">{{ cart.get_total_price }}</span>
                                        </td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>


                                    <td>Your shipping Address: <br>
                                        {{ selected_shipping_address.full_name }},
                                        {{ selected_shipping_address.city }},
                                        {{ selected_shipping_address.state }},
                                        {{ selected_shipping_address.address }},
                                        {{ selected_shipping_address.zipcode }},
                                        {{ selected_shipping_address.email }}

                                        <a href="{% url "app_dashboard:shipping_address_page" %}">
                                        Change address</a>
                                    </td>
                                    <td>&nbsp;</td>
                                    </tr><!-- End .summary-shipping-estimate -->



                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>$160.00</td>
                                    </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <a href="{% url 'app_payment:process_page' order.id %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED
                                    FOR PAYMENT</a>
                            </div><!-- End .summary -->

                            <a href="category.html"
                               class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                                    class="icon-refresh"></i></a>
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


{% endblock %}
{% block footer %}


{% endblock %}